## Factorial Challenge

The factorial function gives the number of possible arrangements of a set of items of length "n"

For example, there are 4! ("four factorial") or 24 ways to arrange four items, which can be calculated as: 
4 \* 3 \* 2 \* 1

5! = 5 \* 4 \* 3 \* 2 \* 1 = 120

6! = 6 \* 5 \* 4 \* 3 \* 2 \* 1 = 720

etc.

In a set of 0 items (an empty set) there is only one way to arrange the items, therefore, 0! = 1

For the purposes of this exercise, factorials are only defined for **positive integers** (including 0)

In [1]:
# Returns the value of the factorial of num if it is defined, otherwise, returns None
def factorial(num):    
    if type(num) != int or num < 0:
        return print("The number should be an integer and positive ")
    elif num == 0 or num == 1:
        return 1
    else:
     return num * factorial(num-1)

In [2]:
# return 120
factorial(5)

120

In [3]:
# return 720
factorial (6)

720

In [4]:
# return 1
factorial(0)

1

In [5]:
# return None
factorial(-2)

The number should be an integer and positive

In [6]:
# return None
factorial(1.2)

The number should be an integer and positive

In [7]:
# return None
factorial('spam spam spam spam spam spam')

The number should be an integer and positive

TypeError: 'set' object is not callable